main {
    padding-top: 59px;
    padding-bottom: 2%;
    height: 90%;
}

div.guess-container {
    height: 15%;
    padding: 5%;
    padding-bottom:0%;
}

div.guess-bar {
    width: 80%;
    height:100%;
    margin-right: 10%;
    margin-left: 10%;
}

form.guess-form {
    width: 100%;
    height: 100%;
}

input.guess-input {
    width: 95%;
    height: 50%;
    text-indent:8%;
    font-size: 24px;
    font-weight: 100;
    margin-top: 5%;
    margin-left: 2.5%;
}

div.game-container {
    height: 60%;
    padding: 5%;
    padding-top:0%;
}

div.game-table {
    height: 100%;
}

div.game-table-row {
    display: inline-grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: .25%;
    width: 100%;
    padding-top: .25%;
}

div.game-table-cell{
    width: 100%;
    text-align: center;
}

div.player-info {
    background-color: #dfdfdf;
    height: 64px;
    font-weight: 100;
    vertical-align: middle;
    line-height: 64px;
    font-size:calc(10% + 1.5vw);
}

div.gtc-name{
    text-align: left;
    justify-content: left;
    align-items: center;
}

div.game-table-body {
    border-style: solid none none none;
    border-color: black;
}





.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }