main {
    position: relative;
    padding-top: 59px;
    height: 100%;
}

div.container {
    position: relative;
    margin: 24px;
    display: block;
}

div.notification {
    text-align: center;
}

div.guess {
    height: 72px;
    width: 700px;
    left: 50%;
    transform: translateX(-50%);    
}

div.guess-bar {
    height: inherit;
    width: inherit;
}

form.guess-form {
    width: inherit;
    height: inherit;
}

input.guess-input {
    height: inherit;
    width: inherit;
    text-indent: 64px;
    font-size: 24px;
    font-weight: 100;
}

div.game-container {
    width:fit-content;
    left: 45%;
    transform: translateX(-45%);   
    
}

div.game-table{
    padding: inherit;
    width: 900px
}

div.game-table-lables{
    width: inherit;
}

div.game-table-row{
    width: max-content;
    padding-top: 9px;
}

div.game-table-body {
    width: max-content;
    border-style: solid none none none;
    border-color: black;
}

div.game-table-cell{
    display: inline-grid;
    width: 90px;
    text-align: center;
}

div.player-info {
    background-color: #dfdfdf;
    height: 64px;
    justify-content: center;
    align-items: center;
    font-weight: 100;
}

div.gtc-name{
    text-align: left;
    width: 170px;
    justify-content: left;
    align-items: center;
}