<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <style>
      {% if guess_count >= 6 %}
        input[name=guess_input]{
            pointer-events: none;
        }
      {% endif %}
  </style>
  
</head>

<body>
    <header>
        <a href="" class="logo">MLBordle</a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
          <li><a href="#about">How to Play</a></li>
          <li><a href="#stats">Stats</a></li>
        </ul>
    </header>
  <main>
    <div id="about" class="overlay">
        <div class="popup">
            <h2>How to Play</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                <ul>
                    <li>There is a new MLB player every day!</li>
                    <li>You only have six guesses, so choose wisely.</li>
                    <li>Green columns mean there is a match!</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="stats" class="overlay">
        <div class="popup">
            <h2>COMING SOON</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                
            </div>
        </div>
    </div>

    <div class="guess-container">
        <div class="guess-bar">
            <form class="guess-form" method="POST">
                <input type="text" class="guess-input" name="guess_input" placeholder="Enter a player" list="players" 
                autocomplete="off" 
                {% if guess_count >= 6 %}tabindex="-1"{% endif %}>
            </form>
            <datalist id="players" >
                {% for player in player_names %}
                    <option value="{{ player }}"></option>
                {% endfor %}
            </datalist>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
    {% endwith %}
    <div class="game-container">
        <div class="game-table">
            <div class="game-table-row">
                    <div class="game-table-cell gtc-name">Name</div>
                    <div class="game-table-cell">Age</div>
                    <div class="game-table-cell">Team</div>
                    <div class="game-table-cell">Lg.</div>
                    <div class="game-table-cell">Div.</div>
                    <div class="game-table-cell">Pos.</div>
                    <div class="game-table-cell">#</div>
                    <div class="game-table-cell">Bats</div>
                    <div class="game-table-cell">Throws</div>
            </div>
            <div class="game-table-body">
            {% for guess_player in guess_list %}
                <div class="game-table-row">
                    {% if guess_player['Name'] == answer['Name'] %}
                        <div class="game-table-cell player-info gtc-name" style="background-color: darkgreen;">{{ guess_player['Name'] }}</div>
                    {% else %}
                        <div class="game-table-cell player-info gtc-name">{{ guess_player['Name'] }}</div>
                    {%  endif %}
                {% for k,v in guess_player.items() %}
                    {% if k == 'Name' %}
                        
                    {% else %}
                        {% if v == answer[k] %}
                        <div class="game-table-cell player-info" style="background-color: darkgreen;">{{ v }}</div>
                        {% else %}
                        <div class="game-table-cell player-info">{{ v }}</div>
                        {%  endif %}
                    {%  endif %}
                {% endfor %}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

  </main>
</body>

</html>